@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Outfit:wght@300;400;600&family=Poppins:wght@400;500&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
}
html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

header{
    position:absolute ;
    height: auto;
    width: 100%;
    padding: 30px;

}
header img{
    width: 150px;
}

.container {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

}


.container.words{
    width: 100%;
    padding: 50px 30px 0 30px;

}
.container .words h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    text-align: center;
    line-height: 3.5rem;
    color: hsl(0, 6%, 24%);
    font-size: 3.2rem;
    padding-top: 60px;

}

.container .words h1 .we{
    text-transform: uppercase;
    color: var(--Desaturated-Red);
    font-weight: 200;

}

.container .words p{
    color: var(--Desaturated-Red);
    line-height: 1.5rem;
    max-width: 450px;
    margin: 20px auto 40px auto;
    letter-spacing: .5px;
}

form{
    width: 100%;
    max-width: 450px;
    height: 50px;
    position: relative;
	display: block;
	margin: 0 auto;

}


.mana {
    position: relative;
    width: 400px;
	outline: none;
	border: 1px solid hsl(0, 36%, 70%);
	height: 50px;
	border-radius: 50px;
	padding-left: 30px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1rem;
    left: 10;
}

.container .words .form button {
    cursor: pointer;
    position: absolute;
    right: -5px;
    height: 100%;
    width: 70px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    outline: none;
    box-shadow: 0px 0px 18px 1px #f4aaab82;
    transition: .3s ease box-shadow;
}

.container .words .form button:hover {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsla(0, 52%, 80%, 0.781));
    box-shadow: 0px 0px 13px 2px #f4aaabbf;
}

.container form input::placeholder {
	color: hsl(0, 36%, 70%);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1rem;
	opacity: .8;
}

.container .words .form .exmak {
    display: inline-block;
    position: absolute;
    right: 87px;
    top: 12px;
    display: none;
}



.container .words .form .err-text{
    position: absolute;
    left: 55px;
    top: 40px;
    font-size: 1rem;
    display: none;
    color:  hsl(0, 36%, 70%)
}

.container .words .form.error .exmak ,
.container .words .form.error .err-text {
    display: block;

}

.container .words .form.error input{
    border: 2px solid hsl(0, 93%, 68%);
}

.container .pix {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-image: url(./images/hero-mobile.jpg);
    background-position: cover;

}

.container .pix .pixa {
    display: none;
}





@media only screen and (min-width: 768px) {
    header{
        padding-left: 10%;
        padding-top: 50px;
    }

    .container {
        padding-top: 0;
        flex-direction: row;
        padding-bottom: 0;
        padding-left: 0;
    }

    .container .pix {
        width: 70%;
        height: 100vh;
        background-image: url(./images/hero-desktop.jpg);

    }



    .container .words {
        padding-top: 7rem;
        width: 100%;
        height: 100vh;
        padding-left: 10%;
        background-image: url(./images/bg-pattern-desktop.svg);
		background-size: cover;
		background-position: center;

    }

    .container .words h1 {
        text-align: left;
        font-size: 3rem;
        letter-spacing: 1rem;
        line-height: 3rem;

    }

    .container .words p {
        margin-left: 0;
        text-align: left;
        font-size: 1rem;
        max-width: 450px;
        margin-top: 15px;
        margin-bottom: 30px;

    }

    .container .form {
        margin-left: 0px;
        margin-top: 0;
    }
    .mana{
        width: 450px;
        margin-left: 0;
    }

    .container .words .form button {
        width: 80px;
        margin-left: -20px;
    }

}




























/* .boding {
    display: flex;
    flex: auto;
}



.box{
    display: block;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.logo {
    width: auto;
        margin-left:16%;
        margin-top: 2rem;
}


.fonter {
    padding: 6rem 0 2rem 0;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 600;
}

.fonter .we {
    text-transform: uppercase;
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    letter-spacing: .5rem;
}

.para {
    max-width: 500px;
    line-height: 1.5rem;
    color: hsl(0, 36%, 70%);
}
.pix {
    grid-area: right;
    background: url('../images/hero-desktop.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
}

.pixa-mob {
    display: none;
}


::placeholder{
    color:hsl(0, 36%, 70%);
    opacity: 50%;
    font-size: clamp(0.88rem, 0.83rem + 0.19vw, 1.00rem);
}

.mana {
    padding-left: 2rem;
    flex-grow: 2;
    border: none;
    background: none;
    box-shadow: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: clamp(0.88rem, 0.83rem + 0.19vw, 1.00rem);
    font-weight: 600;
    color: hsl(0, 6%, 24%);
}

form{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 82%;
    max-width: 28rem;
    height: 46px;
    border-radius: 23px;
    margin: 1.4rem 0;
    border: 1px solid hsl(0, 36%, 70%);
}

#email1 {
    width: 320px;
    height: 54px;
    border-radius:50px;
    border: 1px solid hsl(0, 36%, 70%);
    margin-left: 5;
    float: left;
}

.inp2 .inp2{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.inp2 .inp{
    padding-left: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}
.but{
    margin-left: -18%;
    height: 54px;
    width: 94px;
    border-style: none;
    border-radius: 50px;
}
input:focus{
    outline: none;
}
input:hover{
    cursor: pointer;
}
button{
    width: 4rem;
    height: 100%;
    border-radius: 23px;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 5px 20px hsl(0, 36%, 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1px -1px 0 0;
    padding: 0;
}

button:hover{
    cursor: pointer;
    opacity: 80%;
}
#error{
    margin-left:20%;
    padding-left: 1.5rem;
} */